<% content_for :title, "Editing kind" %>

<h1>Modification du type</h1>

<%= render "form", kind: @kind %>

<br>

<div>
  <%= link_to "Voir ce type", @kind %> |
  <%= link_to "Retour", kinds_path %>
</div>
