<p style="color: green"><%= notice %></p>

<% content_for :title, "Type" %>

<h1>Type</h1>

<div id="kinds">
  <% @kinds.each do |kind| %>
    <%= render kind %>
    <p>
      <%= link_to "Voir ce type", kind %>
    </p>
  <% end %>
</div>

<%= link_to "Nouveau type", new_kind_path %>
