<% content_for :title, "New kind" %>

<h1>Nouveau type</h1>

<%= render "form", kind: @kind %>

<br>

<div>
  <%= link_to "Retour", kinds_path %>
</div>


<div>
  <%= link_to "Créer un Input", new_input_path %>

</div>
