<div id="<%= dom_id input %>">
  <p>
    <strong>Data:</strong>
    <%= input.data %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= input.kind %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to input.user %>
  </p>

</div>
