<% content_for :title, "Editing input" %>

<h1>Editing input</h1>

<%= render "form", input: @input %>

<br>

<div>
  <%= link_to "Voir cette input", @input %> |
  <%= link_to "Retour", inputs_path %>
</div>
