<p style="color: green"><%= notice %></p>

<% content_for :title, "Inputs" %>

<h1>Inputs</h1>

<div class="container">
  <div class="row">
    <div class="col">

    <% @inputs.each do |input| %>
      <%= render input %>
      <p class="mt-3">
        <%= link_to "Show this input", input %>
      </p>
    <% end %>

    </div>
  </div>
</div>


<%= link_to "New input", new_input_path %>
